$content-padding: 1.5rem;
$content-spacing: 1rem;

$button-size-mobile: 2.5rem;
$button-size-desktop: 3rem;

.showcase {
	padding: $content-padding;
}

.rating-card {
	display: grid;
	gap: $content-spacing;
	padding: 2rem $content-padding;
	border-radius: 1em;
	background-color: var(--clr-neutral-700);
	max-width: 400px;
	min-height: 400px;

	&.center-aligned {
		text-align: center;
		place-items: center;
	}

	&--icon {
		width: $button-size-mobile;
		height: $button-size-mobile;
		border-radius: 50%;
		color: var(--clr-neutral-300);
		background-color: var(--clr-neutral-700);
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&--title {
		color: var(--clr-neutral-100);
	}

	&--description {
		font-size: 0.9rem;
		line-height: 1.5;
		color: var(--clr-neutral-300);
	}

	.ratings {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 0.25rem;

		&--button {
			border: 0;
			width: $button-size-mobile;
			height: $button-size-mobile;
			border-radius: 50%;
			color: var(--clr-neutral-300);
			background-color: var(--clr-neutral-700);
			font-size: 0.8rem;
			padding-top: 0.35rem;
			transition: 0.3s;

			&:hover {
				cursor: pointer;
				color: var(--clr-neutral-100);
				background-color: var(--clr-primary-500);
			}

			&.selected {
				cursor: pointer;
				color: var(--clr-neutral-100);
				background-color: var(--clr-neutral-300);
				font-weight: var(--font-bold);
			}
		}
	}

	.submit {
		width: 100%;
		border: 0;
		background-color: var(--clr-primary-500);
		padding: 0.75rem 2.25rem;
		border-radius: 10em;
		text-transform: uppercase;
		color: var(--clr-neutral-100);
		letter-spacing: 2px;
		font-size: 0.8rem;
		transition: 0.3s;
	
		&:hover, &:focus {
			cursor: pointer;
			background-color: var(--clr-neutral-100);
			color: var(--clr-primary-500);
		}
	}

	&--final-rating {
		color: var(--clr-primary-500);
		font-size: 0.9rem;
		padding: 0.3em 0.9em;
		border-radius: 10em;
		background-color: var(--clr-neutral-700);
	}

	&--message {
		margin-top: $content-spacing;
		font-size: 0.9rem;
		color: var(--clr-neutral-300);
	}
}

@media (min-width: 450px) {
	.rating-card {
		border-radius: 2em;

		&--icon {
			width: $button-size-desktop;
			height: $button-size-desktop;
		}

		&--description {
			margin-top: -0.75rem;
		}

		.ratings {
			margin-top: 0;

			&--button {
				width: $button-size-desktop;
				height: $button-size-desktop;
			}
		}
	}
}